@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.ios, .md {

  page-intro {

    font-family: 'Montserrat', sans-serif;

    ion-slide {
      background-image: url('../../assets/imgs/ionic_background.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}
